{
    "host_configs": {
        "my_laptop": { // device hostname
            "package_groups": [
                "basic_apps", // package group name
                "communication_apps",
                "dev_tools"
            ]
        },
        "my_desktop_workstation": {
            "package_groups": [
                "*" // select all package groups
            ]
        },
        "my_editing_pc": {
            "package_groups": [
                "basic_apps",
                "editing_tools"
            ]
        }
    },
    "package_group_definitions": {
        "basic_apps": [
            "7zip.7zip", // application id
            "Mozilla.Firefox",
            "TheDocumentFoundation.LibreOffice",
            "VideoLAN.VLC"
        ],
        "editing_tools": [
            "Audacity.Audacity",
            "BlenderFoundation.Blender",
            "GIMP.GIMP"
        ],
        "dev_tools": [
            "Git.Git",
            "Microsoft.VisualStudioCode"
        ],
        "communication_apps": [
            "Jitsi.Meet",
            "OpenWhisperSystems.Signal"
        ]
    }
}